.carousel {
  display: grid;
  height: 75vh;
  max-height: 75vh;
  width: 84vw;
  max-width: 84vw;
  max-width: 100%;
  grid-template-columns: 5% 90% 5%;
  align-items: center;
}

.buttons{
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
.btn-close-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-left: 5%;
  height: 8vh;
  margin-bottom: 50px;
  &:hover {
    cursor: pointer;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  background: transparent;
  flex-direction: column;
  
}
.image-container img {
  width: auto;  /* Mantiene el aspecto original */
  height: 70vh; /* Fija la altura para todas las imágenes */
  max-height: 70vh; /* Evita que crezcan demasiado */
  object-fit: contain; /* Mantiene la proporción sin recortar */
  transition: opacity 0.3s ease-in-out;
  background: black;
}


.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  div {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
    &.active {
      background: #80B9B1;
    }
  }
}
