<footer>
    <div class="contact-container">
        <div class = "nav">
            <label class ="ov-label"> © 2023. All rights reserved. </label>
            <label>Cancún, Quintana Roo / +52 (998)305 60 25 / contacto&#64;ovfilm.com</label>
            <label>Design by The Creative Pixels </label>
        </div>
    </div>
    <div class="social-networks">
        <a href="https://pinterest.com" target="_blank">
            <img src="assets/pinterest.png" alt="Pinterest" aria-hidden="true" />
        </a>
        <a href="https://whatsapp.com" target="_blank">
            <img src="assets/whatsapp.png" alt="WhatsApp" aria-hidden="true" />
        </a>
        <a href="https://vimeo.com" target="_blank">
            <img src="assets/vimeo.png" alt="Vimeo" aria-hidden="true" />
        </a>
        <a href="https://youtube.com" target="_blank">
            <img src="assets/youtube.png" alt="YouTube" aria-hidden="true" />
        </a>
        <a href="https://tiktok.com" target="_blank">
            <img src="assets/tiktok.png" alt="TikTok" aria-hidden="true" />
        </a>
        <a href="https://facebook.com" target="_blank">
            <img src="assets/facebook.png" alt="Facebook" aria-hidden="true" />
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="assets/instagram.png" alt="Instagram" aria-hidden="true" />
        </a>
    </div>
</footer>