<header class="header">
    <div class="logo">
        <img class="brand-logo" src="assets/logo.png" alt="logo" aria-hidden="true" />
    </div>
    <div class="nav-container">
        <nav class="nav">
            <ul class="nav-links" [class.active]="isMenuOpen">
                <li><a [routerLink]="['/', currentLang]">Home</a></li>
                <li><a [routerLink]="['/', currentLang, 'video', 996335145]">Video</a></li>
                <li><a [routerLink]="['/', currentLang, 'photo']">Photo</a></li>
                <li><a [routerLink]="['/', currentLang, 'blog']">Blog</a></li>
                <li><a [routerLink]="['/', currentLang, 'contact']">Contact</a></li>
                <div class="lenguage">
                    <li>|</li>
                    <li><a (click)="switchLanguage('en')">EN</a></li>
                    <li><a (click)="switchLanguage('es')">ES</a></li>
                </div>
            </ul>
            <button class="menu" (click)="toggleMenu()">&#9776;</button>
        </nav>
    </div>
</header>
