<div class="content" *ngIf="!isImageViewerOpen">
  <div class="gallery-container" (scroll)="onScroll($event)">
    <section class="view-videos-carousel">
      <figure
        class="img-container"
        *ngFor="let image of images; let i = index"
        [class.active]="i === activeImageIndex"
        (click)="openImageViewer(image.url, i)">
        <img
          [src]="image.thumbnailUrl"
          (load)="imageLoaded(i)"
          (error)="image.thumbnailUrl = 'assets/logo.png'"
          [class.loaded]="image.loaded"
          loading="lazy"
        >
      </figure>
    </section>
  </div>
  <div class="custom-scrollbar-container">
    <div class="custom-scrollbar">
      <div class="custom-thumb" [style.top]="thumbPosition"></div>
    </div>
  </div>
</div>
<div class="image-viewer" *ngIf="isImageViewerOpen">
  <app-carousel [images]="images" (close)="closeImageViewer()" [currentIndex]="currentIndex"></app-carousel>
</div>
