input{
    width: 90%;
    height: auto;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
textarea{
    width: 90%;
    height: auto;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
.review-form{
    display: flex;
    flex-direction: row;
}