input{
    width: 90%;
    height: auto;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
textarea{
    width: 90%;
    height: auto;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
.addBlog-form{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.content {
    height: auto;
    width: 100%;
    font-family:'Montserrat', sans-serif;
}
.blog-list {
    display: grid;
    column-gap: 14px;
    row-gap: 100px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    padding-top: 0%;
    justify-content: space-between;
  }

h2{
    font-size: 45px;
    font-weight: lighter;
}
h3{
    font-size: 25px;
    font-weight: lighter;
}
p{
    margin-bottom: 1rem;
    font-size: 15px;
}
.hidden {
    background: red;
  }
  

.blog-date{
    font-size: 15px;
    font-weight: bold;
    color: #80B9B1;
}
.blog-card:hover{
    transition: all 0.3s ease;
    transform: scale(1.05);
    box-shadow: 10px 9px 11px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}

.blog-card{
    transition: all 0.3s ease;

}

img{
    width: 100%;
}
.blog-content{
    padding-bottom: 90px;
    display: grid;
    column-gap: 5%;
    grid-template-columns: 65% 30%;
    justify-content: space-between;
}
.recent-blogs{
    margin-top: 90px;
    padding: 15% 15%;
    border: 1px solid black;
    & h2{
        font-size: 20px;
    }
    & p{
        font-size: 12px;
        font-weight: lighter;
        line-height: 3;
    }
}
.recent-blog-card{
    margin-bottom: 25px;
}
.recent-blog-card:hover{
    cursor: pointer;
    color: #80B9B1;
    text-decoration: underline;
}
.separator {
    border: 0;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}
.img2-container{
    display: grid;
    column-gap: 10%;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}
section{
    padding-top: 90px;
    padding-bottom: 90px;
}
.label-experience{
    margin-right: 50px;
}

@media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    } 
  }
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }